@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

$color-grey: rgb(211, 208, 208);
$color-yellow: rgb(230, 233, 86);
$color-green: rgb(54, 230, 98);
$color-blue: rgb(71, 134, 230);
$color-red: rgb(238, 67, 67);
$color-navy: rgb(17, 31, 68);

$darken-by: 30%;

$color-yellow-dark: darken($color-yellow, $darken-by);
$color-green-dark: darken($color-green, $darken-by);
$color-blue-dark: darken($color-blue, $darken-by);
$color-red-dark: darken($color-red, $darken-by);

*,
*::before,
*::after {
  padding: none;
  margin: none;
  font-family: "Raleway";
}

main {
  max-width: 30rem;
  margin: 0 auto;
}

header {
  background-color: $color-navy;
  color: #fff;
  padding: 0.5rem 4rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  & div {
    padding-bottom: 10px;
    border-bottom: 3px solid #fff;
  }
}

button {
  font-family: inherit;
  padding: 0.5rem 1rem;
  border: none;
  background-color: $color-green;
  color: #fff;
  border-radius: 4px;
  margin-right: 1rem;
  cursor: pointer;
  font-size: 1.2rem;
}

.counter {
  background-color: $color-green;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.board {
  background-color: $color-grey;
  border-radius: 100%;
  width: 30rem;
  height: 30rem;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__section {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__color {
    width: 13rem;
    height: 13rem;
  }
}

h1 {
  letter-spacing: 0.6rem;
  font-weight: normal;
  font-size: 2.5rem;
  border-bottom: 3px solid #fff;
}

.yellow {
  background-color: $color-yellow;
  border-radius: 0 0 0 100%;

  &--dark {
    border-radius: 0 0 0 100%;
    background-color: $color-yellow-dark;
  }
}

.blue {
  background-color: $color-blue;
  border-radius: 0 0 100% 0;

  &--dark {
    border-radius: 0 0 100% 0;
    background-color: $color-blue-dark;
  }
}

.red {
  background-color: $color-red;
  border-radius: 0 100% 0 0;

  &--dark {
    border-radius: 0 100% 0 0;
    background-color: $color-red-dark;
  }
}

.green {
  background-color: $color-green;
  border-radius: 100% 0 0 0;

  &--dark {
    border-radius: 100% 0 0 0;
    background-color: $color-green-dark;
  }
}

@media only screen and (max-width: 850px) {
  header {
    flex-direction: column;
    padding: 0.5rem 1rem;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 1.6rem;
  }
  .board {
    width: 25rem;
    height: 25rem;
    margin: 2rem auto;

    &__color {
      width: 10rem;
      height: 10rem;
    }
  }

  .start,
  .reset,
  .counter {
    font-size: 0.8rem;
    padding: 0.25rem 0.5rem;
  }
}

@media only screen and (max-width: 400px) {
  h1 {
    font-size: 1rem;
  }
  .board {
    width: 15rem;
    height: 15rem;
    margin: 2rem auto;

    &__color {
      width: 6rem;
      height: 6rem;
    }
  }
}
